{:deps     true
 :dev-http {8000 "resources/"}
 :builds   {:app {:target     :browser
                  :output-to  "resources/js/main.js"
                  :output-dir "resources/js"
                  :asset-path "/js"
                  :devtools   {:after-load build.client/render!
                               :watch-dir  "resources/"}
                  :modules    {:main {:init-fn build.client/init!}}}}}
